.contact-container {
  background: black;
  min-height: 100vh;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  .social-media {
    padding: 50px;
    display: flex;
    justify-content: space-around;
  }
  a {
    background: none;
    color: white;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
  }
  .hotlines {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .hotline {
      //border: 2px solid red;
      height: 250px;
      width: 500px;
      display: flex;
      flex-direction: column;
      //justify-content: space-between;
      background: linear-gradient(to right, #e0f1f862, rgb(0 0 0 /0% ) 30%),
        linear-gradient(to left, #e0f1f862, rgb(0 0 0 /0% ) 30%);
    }
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 3em;
    }
    h4 {
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div{
      margin-top:auto;
    }
  }
  .contact-holders{
    display: flex;
    flex:wrap;
    justify-content: space-evenly;
  }
}
